@import 'base/variables';

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    background-image: url(../Img/Picture/f2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-bottom: 3px solid darkblue;
    font-family: 'Bungee', cursive;

    .logo {
        display: flex;

        .helm {
            width: 10%;
            margin-left: 10px;
        }

        .title {
            font-size: 1.2em;
            display: flex;
            align-items: center;
            text-align: center;
            margin: 10px;
            color: $letter-color;
            text-shadow: $shadow;
            letter-spacing: 3px;
        }
    }

    nav {
        grid-area: nav;
        display: flex;
        justify-content: center;
        align-items: center;

        .dropdown {
            display: none;
        }

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            margin: 0;

            li {

                a {
                    font-size: 1em;
                    margin: 0 10px;
                    text-decoration: none;
                    color: $letter-color;
                    text-shadow: $shadow;
                    letter-spacing: 3px;

                    &:hover {
                        color: blue;
                        transition: all .5s;
                    }
                }
            }
        }
    }
}