@import 'base/variables';

.two {
    grid-area: section-two;

    .first {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        width: 90%;
        margin: auto;
        padding: auto;

        .img1 {
            display: flex;
            justify-content: flex-end;
            width: 30%;
            height: 500px;
            margin-left: 3%;
            border-radius: 50px;
            border: $br-img;
        }

        .p1 {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            text-align: end;
            letter-spacing: 1px;
        }
    }


    .second {
        display: flex;
        align-items: center;
        margin: auto;
        width: 90%;
        padding: auto;

        .img2 {
            width: 30%;
            height: 300px;
            margin-right: 3%;
            border-radius: 50px;
            border: $br-img;
            display: flex;
        }

        .p2 {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            text-align: start;
            letter-spacing: 1px;
        }
    }

}