@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Lora:ital@1&family=Playfair+Display:ital@1&display=swap');
@import 'header';
@import 'section-one';
@import 'section-two';
@import 'footer';
@import 'base/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../Img/Picture/f2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .container-index {
        display: grid;
        grid-template-areas:
            "header"
            "section-one"
            "section-two"
            "footer";
        grid-template-rows: auto auto auto auto;
        row-gap: 2%;
        min-height: 100vh;
    }

    p {
        font-family: 'Playfair Display', serif;
        color: $letter-color;
        text-shadow: $shadow;
        font-size: 1.6em;
    }

    h2 {
        margin-top: 25px;
        margin-bottom: 25px;
        color: $letter-color;
        text-shadow: $shadow;
        font-family: 'Lora', serif;
        letter-spacing: 3px;
        text-align: center;
    }
}
